.features-section {
    padding: 40px 0;
    text-align: center;
  }
  
  .feature-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
  }
  
  .feature-card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 300px;
    text-align: center;
    transition: transform 0.3s ease;
  }
  
  .feature-card:hover {
    transform: translateY(-5px);
  }
  
  .feature-card img {
    max-width: 80px;
    margin-bottom: 20px;
  }
  
  .feature-card h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .feature-card p {
    color: #666666;
  }
  
  .home-redirect {
    text-align: center;
    margin: 20px 0;
  }
  
  @media (max-width: 768px) {
    .feature-cards {
      padding: 0px 0 150px;
      margin-top: 500px;
      flex-direction: column;
      align-items: center;
    }
    .footer {
      margin-top: 100px;
    }
  }