.Courses {
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem;
}

.course-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

h1 {
    text-align: center;
}